body {
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: #5d4f40;
}

.quemsomos {
  background-color: royalblue;
  color: #ffffff;
}
.parceiros {
  background-color: salmon;
  color: #ffffff;
}
.margin {
  padding-bottom: 80px;
  padding-top: 10px;
}
